body {
  text-align: center;
}
header div {
  width: 30%;
  position: absolute;
  font-size: 40px;
}
#midSection {
  padding: 20px;
}
#bottomSection {
  position: absolute;
  margin-left: 40%;
  width: 20%;
  margin-top: 100px;
}
#time {
  position: absolute;
  margin-left: 80%;
  margin-top: -45px;
}
#div1 {
  margin-left: 5%;
  font-size: 60px;
  width: 50%;
}

#div3 {
  margin-left: 65%;
}
#main {
  position: absolute;
  margin-top: 100px;
  width: 100%;
}
footer {
  position: absolute;
  margin-bottom: 10px;
}
#start {
  font-size: 50px;
  height: 100px;
  width: 20%;
  border-left: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 6px solid black;
  border-radius: 30px;
  background-color: rgb(77, 77, 77);
  color: white;
}
#question {
  border-left: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 6px solid black;
  border-radius: 20px;
  width: 50%;
  margin-left: 25%;
  background-color: rgb(77, 77, 77);
  color: white;
  font-size: 30px;
}

#correct,
#fake {
  border-bottom: 2px solid black;
  border-top: 6px solid black;
  border-radius: 20px;
  width: 50%;
  margin-left: 25%;
  font-size: 30px;
}
#correct:hover,
#fake:hover {
  border-bottom: 2px solid black;
  border-top: 6px solid black;
  border-radius: 20px;
  width: 50%;
  margin-left: 25%;
  background-color: rgb(157, 163, 255);
}
h3 {
  font-size: 30px;
}
h3:hover {
  background-color: greenyellow;
}
